.signin {
  position: relative;
  overflow: hidden;

  &--content {
    position: absolute;
    align-content: center;

    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &--logo {
      max-height: 15rem;
      margin-bottom: 3rem;
    }
  }

  &--bg {
    position: absolute;
    left: -50%;
    top: -70%;
    width: 200%;
    height: 200%;
  }

  &--logo {
    max-height: 15rem;
    margin-bottom: 2rem;
    object-fit: contain;
  }
}

.alert-fixed {
  position: fixed; 
  top: 0px; 
  left: 0px; 
  width: 100%;
  z-index: 9999; 
  border-radius: 2rem;
}
