.settings {
  .jumbotron {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  h2 {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  div[class^="col-"] {
    margin: 0;
    padding-bottom: 1rem;
  }
}