@import "src/colors";

/* src/components/App/index.scss */
html, body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	min-width: 100vw;
}

body {
	background-color: $white-bg;
}

body {
	font-family: sans-serif;
}
/* end: src/components/App/index.scss */
