.test {
	box-sizing: border-box;
	border: 1px solid red;
	padding: 24px;
	background-image: linear-gradient(45deg, green, white, violet, brown, yellow) ;
	//background-color: white;
	min-height: 4px;
}