@import "src/colors";

.signin {
	min-height: 100vh;
	min-width: 100vw;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	
	// background-color: $white-dark;
	&__item {
		min-height: 100vh;
		min-width: 100vw;
		flex-grow: 0;
		flex-shrink: 0;
	}

	&__logo {
		order: -1;
		min-width: 50vw;
	}
	&__form {
		// background-image: url('src/containers/SignIn/assets/fingerprint.svg');
		background-image: url('assets/images/fingerprint.svg');
		background-size: 100% auto;
		background-position: center;
		fill: red;
		flex-grow: 1;
	}
}

.logo {
	position: relative;

	&_bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	&_circle {
		&-dark {
			fill: $blue-dark;
		}

		&-medium {
			fill: $blue-medium;
		}

		&-light {
			fill: $blue-light;
		}

		&-extralight {
			fill: $blue-extralight;
		}
	}

	&--img {
		position: absolute;
		left: 50%;
		top: 35%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 2;
		max-width: 12rem;
	}
}