.form-edit {
	border: 3px solid green;

	&__space {
		border: 1px solid violet;
		background-color: red;
		margin: 8px 12px;
	}

	&__input {
		border: 2px solid brown;
		border: none;
		background: transparent;
		color: inherit;
		font: inherit;
		width: 100%;
	}

}