@import "src/colors";

.sidebar {
	$width: 100%;

	& {
		background-color: $blue-light;
		height: 100%;
		min-height: 100vh;
		width: $width;
	}

	@mixin item($width) {
		position: relative;
		display: block;
		width: $width;
		padding-top: 100%;
		overflow: hidden;
		box-sizing: border-box;
	}

	@mixin item-mask($width, $color) {
		background-color: $color;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: $width auto;
	}

	@mixin item-background($width) {
		background-position: center;
		background-repeat: no-repeat;
		background-size: $width;
	}

	&__item {
		& {
			@include item($width);
		}

		//@include item-background($width * 0.6);
		//@include item-mask($width * 0.6, $blue-extradark);

		&_active, &:hover {
			background-color: $white-light !important;
		}

		&_logo {
			@include item($width);
			padding-top: 180%;
			@include item-background(60%);
			background-image: url('/assets/images/icons-logo.svg');
		}

		&_identity {
			@include item-mask(50%, $blue-extradark);
			mask-image: url('/assets/images/icons-identity.svg');
		}

		&_transactions {
			@include item-mask(60%, $blue-extradark);
			mask-image: url('/assets/images/icons-transactions.svg');
		}

		&_store {
			@include item-mask(50%, $blue-extradark);
			mask-image: url('/assets/images/icons-store.svg');
		}

		//&_settings {
		//	@include item-mask(50%, $blue-extradark);
		//	mask-image: url('/assets/images/icons-settings.svg');
		//}
		//
		//&_attestators {
		//	@include item-mask(60%, $blue-extradark);
		//	mask-image: url('/assets/images/icons-attestators.svg');
		//}
	}
}





