@import "src/colors";

.identities {
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: $white-light;

  .WindowScrollerWrapper {
    flex: 1 1 auto;
  }
  
  .List {
    outline: none;
    border: none;
  }
  
  .identities--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .identities--rowScrolling::after {
    content: ': loading';
    font-size: 0.65rem;
    color: #aaa;
  }

  .image {
    margin-right: 10px;
  }
}