$white-dark: #ecf0ff;
$white-light: #fefeff;
$white-bg: #f3f6ff;
$white-blue: #e9eefd;

$blue-button-light: #3199f7;
$blue-extradark: #00449e;
$blue-dark: #0870d8;
$blue-normal: #0070d6;
$blue-medium: #0672de;
$blue-light: #0474e6;
$blue-extralight: #0377ee;
$blue-gradient-light: #007de8;
$blue-gradient-dark: #005cd9;

$grey-dark: rgba( #3e3e3e, 0.8 );
$grey-normal: rgba( #3e3e3e, 0.2 );