@import "src/colors";

html,
body {
  height: 100%;
  background-color: $white-bg;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $white-bg;
}

label {
  color: darkgray;
  font-size: 0.8em;
}

.custom-file {
  font-size: 1.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-kimlic {
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 5rem;
  margin: 1rem;

  background-color: $blue-normal;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.jumbotron {
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px -3px lightgray;
  background-color: $white-light;
}

.vh-100 {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

.vh-50 {
  min-height: 50vh;
  max-height: 50vh;
  padding: 0;
  margin: 0;
}

.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
