.new-test {
	border: 3px solid green;

	&__space {
		border: 1px solid violet;
		background-color: red;
		margin: 8px 12px;
	}

	&__input {
		border: 2px solid brown;
		border: none;
		background: transparent;
		color: inherit;
		font: inherit;
		width: 100%;
	}

	&_x{
		color: red;
	}
}

// @for $i from 1 through 5 by 2 {
//   .width-#{$i} {
//     width: #{$i}0em;
//   }
// }

@mixin heading-text($color: #242424, $font-size: 4em) {
  color: $color;
  font-size: $font-size;
}

h1, h2, h3 {
  @include heading-text;
}